@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: antiquewhite;
}
#header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: bisque;
}

img {
  height: 110px;
}
#sample {
  max-width: 1200px;
  height: 250px;
}

#sample2 {
  width: 300px;
  height: 50px;
  background-color: black;
}

#main {
  width: 300px;
  height: 100px;
}

#main-btn {
  height: 100px;
  color: aliceblue;
  background-color: gray;
}

#submit-btn {
  height: 100px;
  color: aliceblue;
  background-color: orange;
}