@charset "utf-8";

    *,
    ::before
    ::after {
        padding: 0;
        margin: 0;
    }

    body {
        
    }

    sample2 {
      size :"40px"
    }

    main {
      font-size: 15px;
    }

    main-btn {
      color: aliceblue;
      background-color: gray;
    }

    submit-btn {
      color: aliceblue;
      background-color: orange;
    }     
