@charset "utf-8";

*,
::before ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}

sample2 {
  size: "40px"
}

main {
  width: 100px;
  height: 50px;
}

main-btn {
  color: aliceblue;
  background-color: gray;
}

submit-btn {
  color: aliceblue;
  background-color: orange;
}