@charset "utf-8";

*,
::before ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
}

.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: bisque;
}

img {
  max-width: 100%;
}

sample2 {
  size: "40px"
}

main {
  width: 100px;
  height: 50px;
}

main-btn {
  color: aliceblue;
  background-color: gray;
}

submit-btn {
  color: aliceblue;
  background-color: orange;
}